.navbar{
    position: fixed;
    top: 0;
    display: flex;
    height: 45px;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
  
    
}
.navbar__dark{
      background: rgb(0, 0, 0);
}
.nav__logo{
    position: fixed;
    left: 0;
    width: 80px;
    object-fit: contain;
}
.nav__avatar{
    position: fixed;
    top: 5px;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
